<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ra.sumbayak.aparinspector"
    >
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/apar_logo_red"
        android:label="@string/app_name"
        android:roundIcon="@drawable/apar_logo_red"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        >
        
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".inspector.InspectorActivity"/>
        <activity android:name=".supervisor.SupervisorActivity"/>
        <activity android:name=".inspector.ScanActivity"/>

    </application>

</manifest>
